<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Table Name="Projects">
    <Load />
    <LoadQuery />
    <Save />
    <Remove />
  </Table>
  <Table Name="Activities">
    <Load />
    <LoadQuery />
  </Table>
</Config>
